PORT=3333
NODE_ENV=development

DATABASE_URL="postgresql://docker:docker@pg:5432/shortener"

CLOUDFLARE_ACCOUNT_ID="SEU_ACCOUNT_ID_AQUI"
CLOUDFLARE_ACCESS_KEY_ID="SUA_ACCESS_KEY_ID_AQUI"
CLOUDFLARE_SECRET_ACCESS_KEY="SUA_SECRET_ACCESS_KEY_AQUI"
CLOUDFLARE_BUCKET="SEU_BUCKET_AQUI"
CLOUDFLARE_PUBLIC_URL="SUA_URL_PUBLICA_DO_BUCKET_AQUI"